.nav {
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 15px;
    background-color: blue;
    }
.list {
    justify-content: space-between;
    padding: 0;
    font-size: 14px;
}
.list__item--lower {
    padding-top: 15px;
}
.list__item {
    font-family: var(--fontPrimary);
    color: var(--colorGray);
}
.list__item--active {
    color: var(--colorWhite);
    text-decoration: underline;
}